@using Microsoft.AspNetCore.Identity
@using Animerch.Data;

@model IEnumerable<Animerch.Models.Merchandise>

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Merchandise";
}

<h2>Merchandise</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Series)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <a asp-controller="Merchandise" asp-action="Create" asp-route-id="@item.ID">Add to your merchandise</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
