@using Microsoft.AspNetCore.Identity
@using Animerch.Data;
@using Animerch.Models.DataTransferObjects;

@model IEnumerable<Animerch.Models.DataTransferObjects.MerchandiseFull>

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Merchandise";
}

@if (SignInManager.IsSignedIn(User))
{
    <h2>My Merchandise</h2>

    
    <p>
        <a asp-controller="Merchandise" asp-action="Index">Add new merchandise</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Series)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @*Empty <table head> to fix layout over edit and delete column*@
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["mList"] as IEnumerable<MerchandiseFull>)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Series)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>

            </tr>
            }
        </tbody>
    </table>
}
else
{ 
    <h2>You must be logged in to see this page</h2>
}
